.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
}

.tengah{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 125px;
}

h2{
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #444452;
}

.h1home{
    font-size: 64px;
    font-family: "Times New Roman", Times, serif;
    color: #444452;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.h1home:hover{
    color: #888888;
    text-shadow: 4px 8px 20px rgba(0, 0, 0, 0.3);
}

.walkingtextcontainer{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    bottom: 250px;
}

.walkingtext{
    display: inline-block;
    padding-left: 100%;
    animation: walk-left 15s linear infinite;
    font-family: "Iceland", sans-serif;
    letter-spacing: 2px;
    color: #444452;
}

@keyframes walk-left {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 40px;
}

.icons svg{
    transition: transform 0.3s ease;
}
.icons svg:hover{
    transform: scale(1.3);
}

/* dark */

:global(body.dark) h2{
    color: #e9dfce;
}

:global(body.dark) .h1home{
    color: #e9dfce;
}

:global(body.dark) .h1home:hover{
    color: #888888;
    text-shadow: 4px 8px 20px rgba(0, 0, 0, 0.3);
}

:global(body.dark) .walkingtext{
    color: #e9dfce;
}

:global(body.dark) .icons{
    color: #e9dfce;   
}