@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
    background-color: #ffffff;
    color: #444452;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
    background-color: #242527;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

